/*
    lip CSS - drip (@gamma-410)
    OSS / MIT_License.
*/

/* <--- Reset CSS ---> */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { 
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline; 
}
img { 
    border:0 none; 
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { 
    display: block; 
}
body { 
    line-height: 1; 
}
html {
    letter-spacing: 0.05em;
    line-height: 2.0;
    font-family: var(--lip-fontFamily-Regular);
}
ol, ul { 
    list-style: none;
}
blockquote, q { 
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after { 
    content: '';
    content: none; 
}
table { 
    border-collapse: collapse;
    border-spacing: 0; 
}

/* import fonts */

@font-face {
    font-family: 'Inter';
    src: url(font/Inter/Inter-VariableFont_slnt,wght.ttf);
}
@font-face {
    font-family: 'NotoSansJP-Black';
    src: url(font/Noto_Sans_JP/NotoSansJP-Black.otf);
}
@font-face {
    font-family: 'NotoSansJP-Bold';
    src: url(font/Noto_Sans_JP/NotoSansJP-Bold.otf);
}
@font-face {
    font-family: 'NotoSansJP-Light';
    src: url(font/Noto_Sans_JP/NotoSansJP-Light.otf);
}
@font-face {
    font-family: 'NotoSansJP-Medium';
    src: url(font/Noto_Sans_JP/NotoSansJP-Medium.otf);
}
@font-face {
    font-family: 'NotoSansJP-Regular';
    src: url(font/Noto_Sans_JP/NotoSansJP-Regular.otf);
}
@font-face {
    font-family: 'NotoSansJP-Thin';
    src: url(font/Noto_Sans_JP/NotoSansJP-Thin.otf);
}


/* <--- lip CSS ---> */

:root {
    --lip-redColor: #FF9292;
    --lip-blueColor: #92BDFF;
    --lip-yellowColor: #FFD392;
    --lip-greenColor: #94DF81;
    --lip-whiteColor: #FAFAFA;
    --lip-greyColor: #939393; 
    --lip-darkColor: #4d4d4d; 
    --lip-fontFamily-Black: Inter, NotoSansJP-Black;
    --lip-fontFamily-Bold: Inter, NotoSansJP-Bold;
    --lip-fontFamily-Light: Inter, NotoSansJP-Light;
    --lip-fontFamily-Medium: Inter, NotoSansJP-Medium;
    --lip-fontFamily-Regular: Inter, NotoSansJP-Regular;
    --lip-fontFamily-Thin: Inter, NotoSansJP-Thin;
}

h1 {
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 2.5rem;
}
h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2rem;
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.75rem;
}
h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.25rem;
}
h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.25rem;
}
h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}
p {
    line-height: 20px;
    margin-bottom: 1.5em;
}
ul li::before {
    content: "\02022  ";
    font-weight: bold;
    font-size: 20px;
    color: var(--lip-redColor);
}
ul ul li::before {
    content: "\02022\02022  ";
    font-weight: bold;
    font-size: 20px;
    color: var(--lip-blueColor);
}
ul ul ul li::before {
    content: "\02022  ";
    font-weight: bold;
    font-size: 20px;
    color: var(--lip-yellowColor);
}
ul ul ul ul li::before {
    content: "\02022\02022  ";
    font-weight: bold;
    font-size: 20px;
    color: var(--lip-greenColor);
}
ol {
    counter-reset: count 0;
}
ol li::before {
    content: counter(count) ". ";
    counter-increment: count 1;
    font-weight: bold;
    font-size: 20px;
    color: var(--lip-darkColor);
}
hr {
    border: 0 none; 
    height: 1px; 
    color: #696969;
    background-color: #b0b0b0;
}
span {
    font-weight: bold;
}
a {
    color: var(--lip-blueColor);
    text-decoration: none;
}
p code {
    background-color: #FF9292;
    color: #FAFAFA;
    padding: 2px;
}

/* lip-class */

.l-fontWeight-black {
    font-family: var(--lip-fontFamily-Black);
}
.l-fontWeight-bold {
    font-family: var(--lip-fontFamily-Bold); 
}
.l-fontWeight-medium {
    font-family: var(--lip-fontFamily-Medium);
}
.l-fontWeight-regular {
    font-family: var(--lip-fontFamily-Regular);
}
.l-fontWeight-light {
    font-family: var(--lip-fontFamily-Light);
}
.l-fontWeight-thin {
    font-family: var(--lip-fontFamily-Thin);
}

/* l-container system */

.l-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .l-container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .l-container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .l-container {
        width: 1170px;
    }
}

/* l-spacing */

.l-spacing-top {
    margin-top: 50px;
}
.l-spacing-bottom {
    margin-bottom: 50px;
}

/* l-hedding */

.l-hedding1-red::before {
    content: "# ";
    color: var(--lip-redColor);
    font-size: 30px;
    font-weight: bold;
}
.l-hedding1-blue::before {
    content: "# ";
    color: var(--lip-blueColor);
    font-size: 30px;
    font-weight: bold;
}
.l-hedding1-yellow::before {
    content: "# ";
    color: var(--lip-yellowColor);
    font-size: 30px;
    font-weight: bold;
}
.l-hedding1-green::before {
    content: "# ";
    color: var(--lip-greenColor);
    font-size: 30px;
    font-weight: bold;
}
.l-hedding1-white::before {
    content: "# ";
    color: var(--lip-whiteColor);
    font-size: 30px;
    font-weight: bold;
}
.l-hedding1-dark::before {
    content: "# ";
    color: var(--lip-darkColor);
    font-size: 30px;
    font-weight: bold;
}

.l-hedding2-red::before {
    content: "# ";
    color: var(--lip-redColor);
}
.l-hedding2-blue::before {
    content: "# ";
    color: var(--lip-blueColor);
}
.l-hedding2-yellow::before {
    content: "# ";
    color: var(--lip-yellowColor);
}
.l-hedding2-green::before {
    content: "# ";
    color: var(--lip-greenColor);
}
.l-hedding2-white::before {
    content: "# ";
    color: var(--lip-whiteColor);
}
.l-hedding2-dark::before {
    content: "# ";
    color: var(--lip-darkColor);
}

/* l-hedder */

.l-header-red {
    background: var(--lip-redColor);
    width: 100%;
    height: 80px;
}
.l-header-blue {
    background: var(--lip-blueColor);
    width: 100%;
    height: 80px;
}
.l-header-yellow {
    background: var(--lip-yellowColor);
    width: 100%;
    height: 80px;
}
.l-header-green {
    background: var(--lip-greenColor);
    width: 100%;
    height: 80px;
}
.l-header-grey {
    background: var(--lip-greyColor);
    width: 100%;
    height: 80px;
}
.l-header-white {
    background: var(--lip-whiteColor);
    width: 100%;
    height: 80px;
}
.header_contents {
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_contents-dake {
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_contents h1 {
    color: var(--lip-whiteColor);
    font-size: 22px;
    margin: 0 0 0 40px;
}
.header_contents-dake h1 {
    color: var(--lip-dakeColor);
    font-size: 22px;
    margin: 0 0 0 40px;
}
.header_nav_lists {
    display: flex;
}
.header_nav_lists-dake {
    display: flex;
}
.header_nav_lists li {
    margin: 0 40px 0 0;
}
.header_nav_lists-dake li {
    margin: 0 40px 0 0;
}
.header_nav_lists a {
    color: var(--lip-whiteColor);
}
.header_nav_lists-dake a {
    color: var(--lip-dakeColor);
}
.header_nav_lists li::before {
    content: none;
}
.header_nav_lists-dake li::before {
    content: none;
}
.nav_link {
    font-size: 18px;
}
.responsive_btn {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0 40px 0 0;
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.menu_line {
    background: #fafafa;
    border-radius: 5px;
    width: 100%;
    height: 5px;
    margin: 4px 0;
}
.menu_line-dake {
    background: #3e3e3e;
    border-radius: 5px;
    width: 100%;
    height: 5px;
    margin: 4px 0;
}
@media screen and (max-width: 768px) {
    .responsive_btn {
      display: flex;
    }
    .header_bg {
      position: relative;
    }
    .header_nav {
      background: #323232;
      width: 100%;
      height: 100vh;
      padding: 80px 0 0 0;
      position: fixed;
      top: 0;
      right: -100%;
      transition: .5s;
    }
    .header_nav_lists {
      display: block;
      text-align: center;
    }
    .header_nav_lists li {
      margin: 0 0 40px;
      text-align: center;
    }
    .nav_link {
      font-size: 20px;
    }
}
.menu_active {
    right: 0;
}